/*La primera*/
.uno{
	padding-bottom: 40px;
	background:#ffff00;
}

.dos{
	padding-bottom: 40px;
	background:#ff0066;
}

.tres{
	padding-bottom: 40px;
	background:#ffff00;
}

/*la segunda*/
#cajitas{

	margin: 0 auto;
	width: 200px;
}

.unoa{
	padding-bottom: 40px;
	background:#ffff00;
}

.dosaa{
	padding-bottom: 40px;
	background:#ff0066;
}

.tresa{
	padding-bottom: 40px;
	background:#ffff00;
}

/*la tercera*/

ul{
	list-style: none;
	margin-left: 400px;
}
ul li{
	display: inline-block;


}

.unob{
	padding: 10px;
	background:#ffff00;;

}

.dosb{
	padding: 10px;
	background:#ff0066;

}

.tresb{
	padding: 10px;
	background:#ffff00;
	
}

/*la cuarta*/

ul{
	list-style: none;
	margin-left: 400px;
}
ul li{
	display: inline-block;


}

.unoc{
	padding-bottom: 40px;
	background:#ffff00;
	width: 160px;

}

.dosc{
	padding-bottom: 40px;
	background:#ff0066;
	width: 160px;


}

.tresc{
	padding-bottom: 40px;
	background:#ffff00;
	width: 160px;

	
}

/*la quinta*/

ul{
	list-style: none;
	margin-left: 0px;
}
ul li{
	display: inline-block;


}

.unacaja{

	background:#ffff00;
	width: 160px;
	height: 160px;
	border: 20px;
	color-border:blue;

}
.unod{
	background:#ffff00;
	width: 160px;
	height: 160px;
	border: 20px;
	color-border:blue;


}

.dosd{
	background:#ff0066;
	width: 160px;
	height: 160px;
	border: 20px;
	color-border:blue;


}

.tresd{
	background:#ffff00;
	width: 160px;
	height: 160px;
	border: 70px;
	border-color:#ff0066;
	
}

.cajaabajo1{
	background:#ffff00;
	width: 160px;
	height: 160px;
	border: 20px;
	color-border:blue;


}
.cajaabajo2{
	background:#ff0066;
	width: 160px;
	height: 160px;
	border: 20px;
	color-border:blue;


}

.cajasola{
	background:#ff0066;
	width: 160px;
	height: 160px;
	border: 20px;
	color-border:blue;
	
}